section{
	width: 70%;
	margin: auto;
	font-family: arial;
}

div{
	width: 15%;
	float: left;
	padding: 1%;
	background-color: #20B2AA;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #ccc;
}

img{
	width: 100%;
}

h2{
	font-size: 12pt;
	color: white;
	text-align: center;
	background-color: rgba(0,0,0,.5);
	padding: 10px 0;
	font-weight: normal;
	text-shadow: 1px 1px 1px black;
}